.elementor-4339 .elementor-element.elementor-element-ccea53a>.elementor-container>.elementor-row {
    align-items: stretch
}

.elementor-4339 .elementor-element.elementor-element-ccea53a:not(.elementor-motion-effects-element-type-background),
.elementor-4339 .elementor-element.elementor-element-ccea53a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f6f6fa
}

.elementor-4339 .elementor-element.elementor-element-ccea53a {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 65px 0 45px
}

.elementor-4339 .elementor-element.elementor-element-ccea53a>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-4339 .elementor-element.elementor-element-ce532a8>.elementor-container>.elementor-row {
    align-items: stretch
}

.elementor-4339 .elementor-element.elementor-element-ce532a8 {
    padding: 0 0 45px
}

.elementor-4339 .elementor-element.elementor-element-7674dd3 {
    text-align: left
}

.elementor-4339 .elementor-element.elementor-element-7674dd3 img {
    width: 100%;
    max-width: 112%
}

.elementor-4339 .elementor-element.elementor-element-b7e8851 .list-header {
    align-items: center
}

.elementor-4339 .elementor-element.elementor-element-b7e8851.nuss-list-layout-block .item+.item,
.elementor-4339 .elementor-element.elementor-element-b7e8851.nuss-list-layout-columns .item:nth-child(2)~.item {
    margin-top: 0
}

.elementor-4339 .elementor-element.elementor-element-b7e8851.nuss-list-layout-inline .item {
    margin-bottom: 0
}

.elementor-4339 .elementor-element.elementor-element-b7e8851 .text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63em;
    color: #5a5a5a
}

.elementor-4339 .elementor-element.elementor-element-b7e8851 .text .stop-a {
    stop-color: #5a5a5a
}

.elementor-4339 .elementor-element.elementor-element-b7e8851 .text .stop-b {
    stop-color: #5a5a5a
}

.elementor-4339 .elementor-element.elementor-element-746a4f4 {
    color: #5a5a5a;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63em
}

.elementor-bc-flex-widget .elementor-4339 .elementor-element.elementor-element-e64ff16.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-4339 .elementor-element.elementor-element-e64ff16.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

body:not(.rtl) .elementor-4339 .elementor-element.elementor-element-12f947a .layout-inline .item:not(:last-child) {
    margin-right: 30px
}

body.rtl .elementor-4339 .elementor-element.elementor-element-12f947a .layout-inline .item:not(:last-child) {
    margin-left: 30px
}

.elementor-4339 .elementor-element.elementor-element-12f947a {
    text-align: right
}

.elementor-4339 .elementor-element.elementor-element-12f947a .link-icon {
    font-size: 20px
}

.elementor-4339 .elementor-element.elementor-element-e604a5e>.elementor-container>.elementor-row {
    align-items: stretch
}

.elementor-4339 .elementor-element.elementor-element-fd92f2e {
    color: #5a5a5a;
    font-size: 14px;
    line-height: 1.57em
}

.elementor-4339 .elementor-element.elementor-element-1893082 .list-header {
    align-items: center
}

.elementor-4339 .elementor-element.elementor-element-1893082.nuss-list-layout-block .item+.item,
.elementor-4339 .elementor-element.elementor-element-1893082.nuss-list-layout-columns .item:nth-child(2)~.item {
    margin-top: 0
}

.elementor-4339 .elementor-element.elementor-element-1893082.nuss-list-layout-inline .item {
    margin-bottom: 0
}

.elementor-4339 .elementor-element.elementor-element-1893082 {
    text-align: right
}

.elementor-4339 .elementor-element.elementor-element-1893082 .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57em;
    color: #1a1a1a
}

.elementor-4339 .elementor-element.elementor-element-1893082 .text .stop-a {
    stop-color: #1a1a1a
}

.elementor-4339 .elementor-element.elementor-element-1893082 .text .stop-b {
    stop-color: #1a1a1a
}

.elementor-4339 .elementor-element.elementor-element-1893082 .link:hover .text {
    color: #b95c47
}

.elementor-4339 .elementor-element.elementor-element-1893082 .link:hover .text .stop-a {
    stop-color: #b95c47
}

.elementor-4339 .elementor-element.elementor-element-1893082 .link:hover .text .stop-b {
    stop-color: #b95c47
}

@media(max-width:1024px) {
    .elementor-4339 .elementor-element.elementor-element-12f947a {
        text-align: left
    }
    .elementor-4339 .elementor-element.elementor-element-1893082 {
        text-align: left
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-4339 .elementor-element.elementor-element-9da1fe2 {
        width: 100%
    }
    .elementor-4339 .elementor-element.elementor-element-2b859df {
        width: 100%
    }
    .elementor-4339 .elementor-element.elementor-element-ea2498d {
        width: 100%
    }
    .elementor-4339 .elementor-element.elementor-element-e64ff16 {
        width: 100%
    }
    .elementor-4339 .elementor-element.elementor-element-3b826fe {
        width: 100%
    }
    .elementor-4339 .elementor-element.elementor-element-cc758a2 {
        width: 100%
    }
}